[submodule "features/cucumber-tck"]
	path = features/cucumber-tck
	url = https://github.com/cucumber/cucumber-tck.git
[submodule "3rdparty/gherkin-c"]
	path = 3rdparty/gherkin-c
	url = https://github.com/cucumber/gherkin-c
